<p id="notice"><%= notice %></p>
<p align="right" class="navbar-text pull-left">
  <% if applicant_signed_in? %>
    Logged in as <strong> <%= current_applicant.email %></strong>.
    <%= link_to "Sign out", destroy_applicant_session_path, method: :get, :class => 'navbar-link'  %>
    <%= link_to 'Edit profile', edit_applicant_registration_path,  :class => 'navbar-link' %>
  <%end %>
</p>
<% if applicant_signed_in? %>
  <h1><%= current_applicant.name %>'s Applied properties</h1>
  <table>
    <thead>
    <tr>
      <th>Date time</th>
      <th>Property</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.date_time %></td>
        <td><%= Property.find(application.property_id).name %></td>
        <td><%= application.status %></td>
        <td><%= link_to 'Show', application %></td>
        <% unless applicant_signed_in? %>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
          <% end %>
        <td><%= link_to 'Withdraw', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <h1><%= current_applicant.name %>'s Occupied properties</h1>

  <table>
    <thead>
    <tr>
      <th>Property</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @properties_occuped.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= link_to 'Move out', moveout_path(:property_id=> property.id) %></td>

      </tr>
    <% end %>
    </tbody>
  </table>


<%end %>

<br><br>

<h1> Apply for more properties?</h1>

<%= link_to 'Create New Application', new_application_path %>
