<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :features_pets %>
    <%= form.check_box :features_pets %>
  </div>

  <div class="field">
    <%= form.label :features_laundry %>
    <%= form.check_box :features_laundry %>
  </div>

  <div class="field">
    <%= form.label :features_parking %>
    <%= form.check_box :features_parking %>
  </div>

  <div class="field">
    <%= form.label :terms_available %>
    <%= form.text_field :terms_available %>
  </div>

  <div class="field">
    <%= form.label :earliest_start_time %>
    <%= form.datetime_select :earliest_start_time %>
  </div>

  <div class="field">
    <%= form.label :application_fee %>
    <%= form.number_field :application_fee %>
  </div>

  <div class="field">
    <%= form.label :monthly_rent %>
    <%= form.number_field :monthly_rent %>
  </div>

  <div class="field">
    <%= form.label :occupied_by %>
    <%= form.text_field :occupied_by %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.check_box :availability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
